/* Non-Skating Officials */

.pbt { color: #C71515; }

.pbm { color: #DB7704; }
        
.plt { color: #CDA504; }
        
.pt { color: #2cc224; }

.lt { color: #15980f; }

.pw { color: #04cdb2; }

.jt { color: #112aca; }
        
.sk { color: #702dce; }
        
.sbo { color: #c21dca; }
        
.hnso { color: #f34db0; }


/* Skating Officials */

/* All Officials */