/* Non-Skating Officials */

.pbt { color: #C71515; }
    .topics { color: #EB4242; }
        .subtopics { color: #EF6B6B; }

.pbm { color: #DB7704; }
    .topics { color: #FA8805; }
        .subtopics { color: #FB9D32; }
        
.plt { color: #CDA504; }
    .topics { color: #F0C105; }
        .subtopics { color: #FBD332; }
        
.jt { color: #53854E; }
    .topics { color: #64A15E; }
        .subtopics { color: #80B27B; }
        
.sk { color: #2163AD; }
    .topics { color: #297AD6; }
        .subtopics { color: #4F92DE; }
        
.sbo { color: #892FD6; }
    .topics { color: #9B50DC; }
        .subtopics { color: #B177E4; }
        
.hnso { color: #BF2AB3; }
    .topics { color: #D954CE; }
        .subtopics { color: #E279D9; }


/* Skating Officials */

/* All Officials */